*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{

}
/*-----------Navbar Header--------*/
.topnav{
  height: 55px;
  width: 100%;
  background-color: #000;
}

.githublogo{
  height: 40px;
  width: 40px;
  margin-left: 150px;
  margin-right: 20px;
  margin-top: 7.5px;
  float: left;
}

#searchbox, .navbar-search{
  float: left;
  width: 300px;
  margin-top: 10px;
}

#navlist{
  display: inline-block;
  float: left;
}

.toplinks{
  color: #C8C9C4;
  text-decoration: none;
  display: inline-block;
}

/*--------------------body top search*/

.main-section{
    margin-left: 110px;
    margin-right: 110px;
}
.typeSelect, .langSelect{
  float: right;
}

.reposearchCont{
  width: 55%;
}
.repoSearch{
  padding-bottom: 20px;
  width: 380px;
}

.search-boxes{
  float: right;
  width: 100%;
  position: absolute;
  /*parallax?*/
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 325px;
  margin-right: 110px;
  border-bottom: 1px solid #E1E4E8;
}
#searchRepos{
  clear: left;
  float: right;
  width: 100%;
  margin-right: 20px;
}

.bodylinks{
  display: inline-block;
  clear: both;
  margin-right: 110px;
  /*width: 100%;*/
  border-bottom: 1px solid #E1E4E8;
  margin-bottom: 20px;
}

li{
  text-decoration: none;
  display: inline-block;
  margin-left: 20px;
}

.firstli{
  margin-left: 0;
}

.shaded{
  border-radius: 50%;
  vertical-align: sub;
  background-color: #E8E9EB;
  font-size: 10px;
  margin-left: 2px;
  padding: 2px;

}
/*---container for two flex ---------*/
.flex-cont {
  display: flex;
  flex-flow: row nowrap;
  margin: 40px 50px;
}

.profile{
  flex-basis: 30%;
}

.profilepic>img{
  height: 230px;
  width: 230px;
  border-radius: 6px;
}
/*-------------organization div*/
.organization{
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
}

#organizations{
  border-top: 1px solid #E1E4E8;
  width: 90%;
}

.orgavatar>img{
  width: 35px;
  height: 35px;
}



/*-------------Col 2 repo list*/
#repos{
  margin-top: 100px;
  flex-basis: 65%;
  margin-left: 20px;
}

.repoInfoContainer{
  margin-top: 40px;
  margin-left: 25px;
  border-bottom: 1px solid #E1E4E8;
}

.repo-info{
  color: #0366d6;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}

.repoLangTxt{
  font-size: 12px;
  color: #586069;
  margin-top: 10px;
}

span{
  margin-left: 15px;
}

.color-circle{
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #e34626;
}

.info-cont{
  margin-bottom: 30px;
}

header{
  height: 55px;
  background-color: #000;
  width: 100%;
}
.bio-text{
width: 90%;
border-bottom: 1px solid #E1E4E8;
padding-bottom: 15px;
}
